.bread-row > * {
	display: flex;
}

.bread-col {
	flex-basis: 0;
	flex-grow: 1;
    display: flex;
    padding: 5px 0;
}

.divider {
    box-sizing: border-box;
    height: 9px;
    
    cursor: vertical-text;
    padding: 2px 0;

    background-clip: padding-box !important;
    border: 2px solid transparent;
    border-left: 0;
    border-right: 0;

    margin: 0 19px;

    opacity: 0;
    transition: opacity 200ms ease-in;
}

.vertical-divider {
    width: 1px;
    padding: 0 2px;

    background: transparent;
    border: 7px solid transparent;
    background-clip: padding-box !important;
    border-bottom: 0;
    border-top: 0;
    flex-shrink: 0;

    opacity: 0;
    transition: opacity 200ms ease-in;

    cursor: text;
}

.bread-row.insert-top .divider.divider-top,
.bread-row.insert-bottom .divider.divider-bottom,
.bread-col.insert-left .vertical-divider.divider-left,
.bread-col.insert-right .vertical-divider.divider-right {
  background: blue;
  opacity: 1;
}

.bread-row.insert-top .divider.divider-top::after, 
.bread-row.insert-bottom .divider.divider-bottom::after,
.bread-col.insert-left .vertical-divider.divider-left::after,
.bread-col.insert-right .vertical-divider.divider-right::after {
  background: transparent;
}

.vertical-divider::after {
  width:1px;
  background: #D4D4D4;   
  content: " ";
  height: 100%;
  display: block;
}

.divider:hover, .vertical-divider:hover {
  opacity: 1;
}

.divider::after {
    height:1px;
    background: #D4D4D4;   
    content: " ";
    width: 100%;
    display: block;
}
.bread-col.dragging .slice {
  opacity: 0.3;
}

.slice.dragging {
    opacity: 0.3;
}

.slice .body {
    padding: 10px;
    overflow: hidden;
    flex-grow: 1;
}

.row-1 {
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
}
