.cell-right .cell-button {
    font-size: 0.85rem;
    padding: 0.2rem;
    text-align: center;
    color: #989898;
    cursor: pointer;
}

.cell-button.cell-close-button:hover {
    color: #851111;
}

.cell-button.cell-run-button:hover {
    color: #14a15e;
}